@font-face {
  font-family: SmbWeb;
  src: url("../font/smbfont.ttf") format("truetype")
}

@-webkit-keyframes scroll {
  0% {
    background-position: 0
  }
  to {
    background-position: 100%
  }
}
@keyframes scroll {
  0% {
    background-position: 0
  }
  to {
    background-position: 100%
  }
}

#controls {
  font-family: SmbWeb;
  font-size: 16px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  line-height: 1.4;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#container {
  width: 600px;
  text-align: center;
  background-image: url('../img/home/box.png');
  position: absolute;
  height: 430px;
  background-repeat: no-repeat;
  font-family: SmbWeb;
  color: gold;
  margin: auto;
  background-position: center center;
  background-size: 100% 100%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%)
}

a {
  color: gold;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 4px
}

.container {
  display: inline-block
}

.t {
  color: gold;
}

.a {
  margin: 5px;
  padding: 5px
}

.n {
  display: inline-block;
  font-weight: bold;
  width: 73px
}

button {
  background: none;
  border: 2px solid #E2D800;
  color: #FFF;
  font: 10px SmbWeb;
  cursor: pointer
}
button:hover {
  background: #D59D00
}

.i {
  font-weight: normal
}

#test-pad-id {
  font-size: xx-small
}

#test-analog {
  font-size: small
}

#test-pad-id {
  color: gray
}

#test-analog {
  color: #FFF
}

.s {
  border-bottom: 5px dashed darkgoldenrod;
  margin: 8px 0 8px
}

.v {
  color: #FFF;
  font-style: italic;
  margin-left: 8px;
  font-size: 8px;
  display: inline-block;
  min-width: 45px;
}